@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ECommerce.Core.Models.DTOs.Order.OrderDataDto

@using ECommerce.Core.Enums.Order

<div class="breadcrumbs" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="@Url.Action("Index", "Home")">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="@Url.Action("GetOrderForm", "ManagementOrders")">Checkout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="shop checkout section">
    <div class="container">
        @using (Html.BeginForm("SendOrderForm", "ManagementOrders", FormMethod.Post, new { @class = "form" }))
        {
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="checkout-form">
                        <h2>Make Your Checkout Here</h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FirstName, "First Name")
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "Enter your first name" })
                                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.LastName, "Last Name")
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Enter your last name" })
                                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, "Email")
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter your email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PhoneNumber, "Phone Number")
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Enter your phone number" })
                                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Country, "Country")
                                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control", @placeholder = "Enter your country" })
                                    @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.City, "City")
                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", @placeholder = "Enter your city" })
                                    @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Address1, "Address1")
                                    @Html.TextBoxFor(m => m.Address1, new { @class = "form-control", @placeholder = "Enter your address" })
                                    @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Address2, "Address2")
                                    @Html.TextBoxFor(m => m.Address2, new { @class = "form-control", @placeholder = "Enter your address" })
                                    @Html.ValidationMessageFor(m => m.Address2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PostalCode, "Postal Code")
                                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", @placeholder = "Enter your postal code" })
                                    @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group message">
                                    @Html.LabelFor(m => m.OrderNote, "Your Note")
                                    @Html.TextAreaFor(m => m.OrderNote, new { @class = "form-control", @placeholder = "Enter your note" })
                                    @Html.ValidationMessageFor(m => m.OrderNote, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="order-details">
                        <div class="single-widget">
                            <h2>CART TOTALS</h2>
                            <div class="content">
                                <ul>
                                    <li>Sub Total<span>$330.00</span></li>
                                    <li>(-) PromoCode<span>$10.00</span></li>
                                    <li class="last">Total<span>$320.00</span></li>
                                </ul>
                            </div>
                        </div>
                        @* <div class="single-widget"> *@
                        @*     <h2>Select Payment Type</h2> *@
                        @*     <div class="content"> *@
                        @*         <div class="form-group"> *@
                        @*             @Html.DropDownListFor(m => m., new SelectList(Enum.GetValues(typeof(PaymentType))), "Select Payment Method", new { @class = "form-control", @style = "width: 50px; height: 30px;" }) *@
                        @*             @Html.ValidationMessageFor(m => m.PaymentType, "", new { @class = "text-danger" }) *@
                        @*         </div> *@
                        @*     </div> *@
                        @* </div> *@
                        <div class="single-widget payement">
                            <div class="content">
                                <img src="~/Asset/images/payment-method.png" alt="#">
                            </div>
                        </div>
                        <div class="single-widget get-button">
                            <div class="content">
                                <div class="button">
                                    <button type="submit" class="btn">Proceed to Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@Html.Partial("~/Views/Shared/Partials/StoreAdvantages.cshtml")








