
@{
    ViewBag.Title = "Items";
}
<!doctype html>
<html lang="en">

<!--------------------------------------------------------------CONNECT REFERENCES-------------------------------------------------------------------------->
@Html.Partial("~/Views/Partials/Ref.cshtml")

<body>
    <div class="wrapper">
        <!--------------------------------------------------------------CONNECT HEADER-------------------------------------------------------------------------->
        @Html.Partial("~/Views/Partials/Header.cshtml")

        <!--------------------------------------------------------------MENU-------------------------------------------------------------------------->
        <main class="main">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <nav class="breadcrumbs">
                            <ul>
                                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                <li><span>Category Name</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="sidebar">
                            <button class="btn btn-warning w-100 text-start collapse-filters-btn mb-3" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false"
                                    aria-controls="collapseExample">
                                <i class="fa-solid fa-filter"></i> Filters
                            </button>

                            <div class="collapse collapse-filters" id="collapseFilters">
                                @Html.Partial("~/Views/Partials/Categor.cshtml")
                                @Html.Partial("~/Views/Partials/Categor.cshtml")
                                @Html.Partial("~/Views/Partials/Categor.cshtml")
                                @Html.Partial("~/Views/Partials/Categor.cshtml")
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-8">
                        <div class="row mb-3">
                            <div class="col-12">
                                <h1 class="section-title h3"><span>@ViewBag.CategoryName</span></h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Sort By:</span>
                                    <select class="form-select" aria-label="Sort by:">
                                        <option selected>Default</option>
                                        <option value="1">Name (a-z)</option>
                                        <option value="2">Name (z-a)</option>
                                        <option value="3">Price (low &gt; high)</option>
                                        <option value="4">Price (high &gt; low)</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                            @Html.Partial("~/Views/Partials/Products.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!--------------------------------------------------------------CONNECT FOOTER-------------------------------------------------------------------------->
        @Html.Partial("~/Views/Partials/Footer.cshtml")
    </div>

    <!--------------------------------------------------------------CONNECT SCROLL STUFF-------------------------------------------------------------------------->
    @Html.Partial("~/Views/Partials/Scroll.cshtml")
</body>

</html>
