@{
    ViewBag.Title = "ContactUs Management";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<ECommerce.Core.Models.DTOs.Contact.ContactUsDto>

<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-md-3 mb-3">
            <input type="text" id="searchInputByEmail" class="form-control" placeholder="Search by Email">
        </div>
        <div class="col-md-2 mb-3">
            <button class="btn btn-primary w-100" id="searchButton">Search</button>
        </div>
    </div>

    <table class="table table-bordered table-hover text-center">
        <thead class="table-primary">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Subject</th>
            <th>Message</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Subject</td>
                <td>@item.Message</td>
                <td>
                    <div class="btn-group d-flex justify-content-center">
                        <a href="@Url.Action("DeleteData", "ManagementWebSiteData", new { id = item.Id })"
                           class="btn btn-warning btn-sm" style="margin-right: 3px;">Delete</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <nav>
        <ul class="pagination justify-content-center" id="paginationContainer"></ul>
    </nav>
</div>

<script>
    document.getElementById('searchButton').addEventListener('click', function () {
        let email = document.getElementById('searchInputByEmail').value;
        let page = 1;

        let queryParams = new URLSearchParams({
            email: email,
            page: page
        });

        window.location.href = '@Url.Action("ContactUs", "ManagementWebSiteData")' + '?' + queryParams.toString();
    });
</script>
