@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hero Area -->
<section class="hero-area4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="home-slider-4">
                    <!-- Первый баннер (iPhone) -->
                    <div class="big-content" style="background-image: url('Asset/images/1160x560/26-iPhone-13.jpg');">
                        <div class="inner">
                            <h4 class="title">Discover the <br> Future with <br> iPhone 15 Pro</h4>
                            <p class="des">Experience the ultimate in performance and design.<br>With cutting-edge technology and a stunning display,<br>the iPhone 15 Pro is here to redefine your world.</p>
                            <div class="button">
                                <a href="#" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>

                    <!-- Второй баннер (Samsung) -->
                    <div class="big-content" style="background-image: url('Asset/images/1160x560/26-iPhone-13.jpg');">
                        <div class="inner">
                            <h4 class="title">Unleash Innovation <br> with Samsung <br> Galaxy S23 Ultra</h4>
                            <p class="des">Powerful performance meets stunning visuals.<br>The Samsung Galaxy S23 Ultra offers the best in<br>mobile technology and camera innovation.</p>
                            <div class="button">
                                <a href="#" class="btn">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- HOT Items -->
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Hot Items</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <div class="tab-pane fade show active" id="man" role="tabpanel">
                        <div class="tab-single">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                    @Html.Partial("~/Views/Partials/SingleProductCard.cshtml")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Midium Banner  --> 
<section class="midium-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="single-banner">
                    <img src="~/Asset/images/600x370/JBL.jpg" alt="#">
                    <div class="content">
                        <p>JBL</p>
                        <h3>Bass Energy<br>Up to<span> 50%</span></h3>
                        <a href="#">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="single-banner">
                    <img src="~/Asset/images/600x370/tv.jpg" alt="#">
                    <div class="content">
                        <p>Samsung TV</p>
                        <h3>OMALed 4k Bard<br> up to <span>70%</span></h3>
                        <a href="#" class="btn">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Last items -->
<div class="product-area most-popular section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Last Items</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel popular-slider">
                    @Html.Partial("~/Views/Partials/SingleProductCard.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Big sale banner -->
<section class="cown-down">
    <div class="section-inner ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-12 padding-right">
                    <div class="image">
                        <img src="~/Asset/images/750x590/PS.jpg" alt="#">
                    </div>
                </div>
                <div class="col-lg-6 col-12 padding-left">
                    <div class="content">
                        <div class="heading-block">
                            <p class="small-title">Deal of day</p>
                            <h3 class="title">Perfect PS 4 PRO</h3>
                            <p class="text">Super sale on Perfect PS 4 with an incredible discount of up to 50%! 🎮🔥</p>
                            <h1 class="price">$1200 <s>$1890</s></h1>
                            <div class="coming-time">
                                <div class="clearfix" data-countdown="2025/02/09"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our blog -->
<section class="shop-blog section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>From Our Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Partial("~/Views/Partials/SingleBlogCard.cshtml")
        </div>
    </div>
</section>

<!-- Store Advantages -->
@Html.Partial("~/Views/Partials/StoreAdvantages.cshtml")

<!-- Get Promo code -->
@Html.Partial("~/Views/Partials/GetPromoCode.cshtml")
