@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="carousel" class="carousel slide carousel-fade">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner h-25">
        <div class="carousel-item active">
            <img src="~/FrontEndAssets/Images/Laptop.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/FrontEndAssets/Images/Laptop.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/FrontEndAssets/Images/Laptop.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@model List<WebProject.ModelAccessLayer.Model.Product>

<!-- OUR PRODUCTS -->
<section class="featured-products">
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-12">
                <h2 class="section-title"><span>Our products</span></h2>
            </div>
        </div>
        <div class="row">
            @if (Model?.Count>0)
            {
                foreach (var product in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <div class="product-card">
                            <div class="product-thumb">
                                <a href="@Url.Action("Item", "Catalog", new { id = product.Id })">
                                    <img src="@product.PhotoUrl[0]" alt="@product.Name">
                                </a>
                            </div>
                            <div class="product-details">
                                <h4>
                                    <a href="@Url.Action("Item", "Catalog", new { id = product.Id })">@product.Name</a>
                                </h4>
                                <p class="product-excerpt">@product.ShortDescription</p>
                                <div class="product-bottom-details d-flex justify-content-between">
                                    <div class="product-price">
                                        @product.Price.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-US"))
                                    </div>
                                    <div class="product-links">
                                        <a href="@Url.Action("Item", "Catalog", new { id = product.Id })" class="btn btn-outline-secondary add-to-cart">
                                            <i class="fas fa-shopping-cart"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
