
@{
    ViewBag.Title = "Index";
}
<!doctype html>
<html lang="en">

<!--------------------------------------------------------------CONNECT REFERENCES-------------------------------------------------------------------------->
@Html.Partial("~/Views/Partials/Ref.cshtml")

<body>
    <div class="wrapper">
        <!--------------------------------------------------------------CONNECT HEADER-------------------------------------------------------------------------->
        @Html.Partial("~/Views/Partials/Header.cshtml")
         
        <!--------------------------------------------------------------MENU-------------------------------------------------------------------------->
        <main class="main">
        <!-----------------------------------------------------------CARUSEL Logic-------------------------------------------------------------------->
            <div id="carousel" class="carousel slide carousel-fade">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/FrontEndAssets/Images/PC.jpg"
                             class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h2></h2>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/FrontEndAssets/Images/Laptop.jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h2></h2>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/FrontEndAssets/Images/tvs.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h2></h2>
                            <p></p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>


            <!--OUR PRODUCTS-->
            <section class="featured-products">
                <div class="container-fluid">
                    <div class="row mb-5">
                        <div class="col-12">
                            <h2 class="section-title">
                                <span>Our products</span>
                            </h2>
                        </div>
                    </div>
                    
                    <div class="row">
                        @Html.Partial("~/Views/Partials/Products.cshtml")
                        @Html.Partial("~/Views/Partials/Products.cshtml")
                        @Html.Partial("~/Views/Partials/Products.cshtml")
                        @Html.Partial("~/Views/Partials/Products.cshtml")
                        @Html.Partial("~/Views/Partials/Products.cshtml")
                        @Html.Partial("~/Views/Partials/Products.cshtml")
                        @Html.Partial("~/Views/Partials/Products.cshtml")
                        @Html.Partial("~/Views/Partials/Products.cshtml")
                        @Html.Partial("~/Views/Partials/Products.cshtml")
                        @Html.Partial("~/Views/Partials/Products.cshtml")
                        @Html.Partial("~/Views/Partials/Products.cshtml")
                        @Html.Partial("~/Views/Partials/Products.cshtml")
                    </div>
                </div>
            </section>
        </main>

        <!--------------------------------------------------------------CONNECT FOOTER-------------------------------------------------------------------------->
        @Html.Partial("~/Views/Partials/Footer.cshtml")
    </div>

    <!--------------------------------------------------------------CONNECT SCROLL STUFF-------------------------------------------------------------------------->
    @Html.Partial("~/Views/Partials/Scroll.cshtml")
</body>

</html>