<footer class="footer">
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
                    <div class="single-footer about">
                        <div class="logo">
                            <a href="@Url.Action("Index","Home")"><img src="~/Asset/images/logo2.png" alt="#"></a>
                        </div>
                        <p class="text">Welcome to Eshop, your one-stop destination for all things tech. From the latest gadgets to essential accessories, we bring you the best in technology.</p>
                        <p class="call">Got a question? Call us 24/7<span><a href="tel:123456789">+37367000000</a></span></p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <div class="single-footer links">
                        <h4>Information</h4>
                        <ul>
                            <li><a href="@Url.Action("AboutUs","Home")">About Us</a></li>
                            <li><a href="@Url.Action("AboutUs","Home")">Faq</a></li>
                            <li><a href="@Url.Action("AboutUs","Home")">Terms & Conditions</a></li>
                            <li><a href="@Url.Action("AboutUs","Home")">Contact Us</a></li>
                            <li><a href="@Url.Action("AboutUs","Home")">Help</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <div class="single-footer links">
                        <h4>Customer Service</h4>
                        <ul>
                            <li><a href="@Url.Action("AboutUs","Home")">Payment Methods</a></li>
                            <li><a href="@Url.Action("AboutUs","Home")">Money-back</a></li>
                            <li><a href="@Url.Action("AboutUs","Home")">Returns</a></li>
                            <li><a href="@Url.Action("AboutUs","Home")">Shipping</a></li>
                            <li><a href="@Url.Action("AboutUs","Home")">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer social">
                        <h4>Get In Touch</h4>
                        <div class="contact">
                            <ul>
                                <li>Moldova, Chisinau</li>
                                <li>Stefan Cel Mare 30</li>
                                <li>temp@temp.com</li>
                                <li>+37367000000</li>
                            </ul>
                        </div>
                        <ul>
                            <li><a href="https://www.instagram.com/"><i class="ti-facebook"></i></a></li>
                            <li><a href="https://x.com/?lang=ru"><i class="ti-twitter"></i></a></li>
                            <li><a href="https://www.flickr.com/"><i class="ti-flickr"></i></a></li>
                            <li><a href="https://www.instagram.com/"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="left">
                            <p>&copy; 2024 Eshop - All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="right">
                            <img src="~/Asset/images/payments.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
