<header class="header">
    <!---------------------------------------------------------------MAIN BAR--------------------------------------------------------------------->
    <div class="header-bottom sticky-top" id="header-nav">
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <!--Hidden menu + hidden buttons-->
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start" id="offcanvasNavbar" tabindex="-1"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>

                    <!--LOGO+HOME+CATALOG button-->
                    <div class="offcanvas-body">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page"
                                   href="@Url.Action("Index","Home")">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                   data-bs-auto-close="outside">Catalog</a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="@Url.Action("Items","Categories")">Computers</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Items","Categories")">Laptops</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Items","Categories")">Phones</a></li>
                                    <li><a class="dropdown-item" href="@Url.Action("Items","Categories")">TVs</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-6 col-sm-4">
                    <div class="header-top-account d-flex justify-content-end">
                        <!--
                        <form action="@Url.Action("Search", "Home")" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchQuery" placeholder="Searching..."
                                       aria-label="Searching..." aria-describedby="button-search">
                                <button class="btn btn-outline-warning" type="submit" id="button-search">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </form>
                          -->

                        <!--BUTTON CART+FAVORITE-->
                        <div>
                            <a href="@Url.Action("Buy","Cart")" class="btn p-1"> <i class="fa-solid fa-cart-shopping"></i></a>
                        </div>


                        <!--------------------------------------------------------------------------------------Обработать ситуацию если зашел админ или нет-------------------------------------------------------->
                        <!--LANGUAGE AND ENTER IN-->
 

                        @if (@ViewBag.IsAdmin ?? false)
                        {
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button class="btn btn-sm dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        Admin
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("ViewProducts","Admin")">View Products</a>
                                        </li>                                        
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("NewProduct","Admin")">Add a Product</a>
                                        </li>                                        
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("EditDelivery","Admin")">View Delivery</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button class="btn btn-sm" type="button">Delivery</button>
                                </div>
                            </div>
                        }


                        <!--------------------------------------------------------------------------------------Обработать ситуацию если пользователь вошел в систему или нет-------------------------------------------------------->

                        @if (@ViewBag.isAuthorized?? false)
                        {
                            <div class="btn-group me-2">
                                <div class="dropdown">
                                    <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Account
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("LogOut", "Accaunt")">Log Out</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="btn-group me-2">
                                <div class="dropdown">
                                    <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Account
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("Login", "Accaunt")">Sign In</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("Registration", "Accaunt")">Sign Up</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>