
@{
    ViewBag.Title = "EditDelivery";
}

<!doctype html>
<html lang="en">

<!--------------------------------------------------------------CONNECT REFERENCES-------------------------------------------------------------------------->
@Html.Partial("~/Views/Partials/References.cshtml")

<body>
    <div class="wrapper">
        <!--------------------------------------------------------------CONNECT HEADER-------------------------------------------------------------------------->
        @Html.Partial("~/Views/Partials/Header.cshtml")

        <!--------------------------------------------------------------MENU-------------------------------------------------------------------------->
        <main class="main">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <nav class="breadcrumbs">
                            <ul>
                                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                <li><span>Delivery</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            @model WebProject.Models.Account.UserData
            @{ 
                var a = Model.Deliveries_Admin;
            }

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <div class="cart-content p-3 h-100 bg-white">
                            @if (a!=null && a.AllOrders!=null && a.AllOrders.Count>0)
                            {
                                <div class="table-responsive">
                                    <table class="table align-middle table-hover">
                                        <thead class="table-dark">
                                            <tr>
                                                <th>ID Delivery</th>
                                                <th>Name Surname</th>
                                                <th>Email</th>
                                                <th>Country</th>
                                                <th>City</th>
                                                <th>Address</th>
                                                <th>Phone</th>
                                                <th>Total Cost</th>
                                                <th>Status Delivery</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            @foreach (var obj in Model.Deliveries_Admin.AllOrders)
                                            {
                                                <tr>
                                                    <td class="align-middle text-center">@obj.Id</td>
                                                    <td class="align-middle text-center">@obj.OrderInfo.Name</td>
                                                    <td class="align-middle text-center">@obj.OrderInfo.Email</td>
                                                    <td class="align-middle text-center">@obj.OrderInfo.Country</td>
                                                    <td class="align-middle text-center">@obj.OrderInfo.City</td>
                                                    <td class="align-middle text-center">@obj.OrderInfo.Address</td>
                                                    <td class="align-middle text-center">@obj.OrderInfo.Phone</td>
                                                    <td class="align-middle text-center">@obj.CartData.FinalPrice.ToString("C")</td>
                                                    <td class="align-middle text-center"><button type="submit" class="btn btn-danger">Is comming in 17 days</button></td>
                                                    <td class="align-middle text-center">
                                                        <form method="post" action="@Url.Action("DeleteItem", "Cart")">
                                                            <input type="hidden" name="id" value="3" />
                                                            <button type="submit" class="btn btn-danger"><i class="fa-regular fa-circle-xmark"></i></button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="text-center">
                                    <h3>There are not actual orders in the current time.</h3>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!--------------------------------------------------------------CONNECT FOOTER-------------------------------------------------------------------------->
        @Html.Partial("~/Views/Partials/Footer.cshtml")
    </div>
</body>
</html>




