
@{
    ViewBag.Title = "ViewProducts";
}

<!doctype html>
<html lang="en">

<!--------------------------------------------------------------CONNECT REFERENCES-------------------------------------------------------------------------->
@Html.Partial("~/Views/Partials/References.cshtml")

<body>
    <div class="wrapper">
        <!--------------------------------------------------------------CONNECT HEADER-------------------------------------------------------------------------->
        @Html.Partial("~/Views/Partials/Header.cshtml")

        <!--------------------------------------------------------------MENU-------------------------------------------------------------------------->
        <main class="main">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <nav class="breadcrumbs">
                            <ul>
                                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                <li><span>Cart</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 mb-3">
                        <div class="cart-content p-3 h-100 bg-white">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="table-dark">
                                        <tr>
                                            <th class="text-center">Photo</th>
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Product name</th>
                                            <th class="text-center">Short Description</th>
                                            <th class="text-center">Price</th>
                                            <th class="text-center">Amount</th>
                                            <th class="text-center"><i class="fa-solid fa-edit"></i></th>
                                            <th class="text-center"><i class="fa-regular fa-trash-can"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="item-row" data-description="Very speed speed speed speed compudacter">
                                            <td class="align-middle text-center"> <img src="Photo" alt=""></td>
                                            <td class="align-middle text-center">25235</td>
                                            <td class="align-middle text-center">Laptop</td>
                                            <td class="align-middle text-center description-cell">Very speed speed speed speed compudacter</td>
                                            <td class="align-middle text-center">10$</td>
                                            <td class="align-middle text-center">15</td>

                                            <td class="align-middle text-center">
                                                <form method="post" action="@Url.Action("DeleteItem", "Cart")">
                                                    <input type="hidden" name="id" value="3" />
                                                    <button type="submit" class="btn btn-danger"><i class="fa-solid fa-edit"></i></button>
                                                </form>
                                            </td>

                                            <td class="align-middle text-center">
                                                <form method="post" action="@Url.Action("DeleteItem", "Cart")">
                                                    <input type="hidden" name="id" value="3" />
                                                    <button type="submit" class="btn btn-danger"><i class="fa-regular fa-circle-xmark"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!--------------------------------------------------------------CONNECT FOOTER-------------------------------------------------------------------------->
        @Html.Partial("~/Views/Partials/Footer.cshtml")
    </div>
</body>
</html>



