@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebProject.Core.DTO.AuthDto.SignUpDto

<div class="breadcrumbs" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="@Url.Action("Index","Home")">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="@Url.Action("SignUp","Auth")">SignUp</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="shop login section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="login-form">
                    <h2>Sign Up</h2>
                    <p>Please sign up in order to check out more quickly</p>
                    @using (Html.BeginForm("SignUp", "Auth", FormMethod.Post, new { @class = "form" }))
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Name, new { @class = "label" })
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "label" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label" })
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group login-btn">
                                    <button class="btn" type="submit">Register</button>
                                    <a href="@Url.Action("SignIn", "Auth")" class="btn">Login</a>
                                </div>
                                @Html.CheckBoxFor(m => m.SignUpForNewsletter, new { @class = "checkbox" })
                                @Html.LabelFor(m => m.SignUpForNewsletter, new { @class = "checkbox" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
