@model WebProject.Models.Product

<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
</head>
<body>
    <h2>Product Details</h2>
    <ul>
        <li>ID: @Model.Id</li>
        <li>Name: @Model.Name</li>
        <li>Details: @Model.Details</li>
        <li>Short Description: @Model.ShortDescription</li>
        <li>Full Description: @Model.FullDescription</li>
        <li>Photo URL: @Model.PhotoUrl</li>
        <li>Price: @Model.Price</li>
        <li>Amount: @Model.Amount</li>
        <!-- Добавьте другие поля продукта, если они есть -->
    </ul>
</body>
</html>