@using ECommerce.Core.Constants

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ECommerce.Core.DataTransferObjects.AuthDto.SignInDto

<div class="breadcrumbs" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="@Url.Action("Index","Home")">Home<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a href="@Url.Action("SignIn","Auth")">SignIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="shop login section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="login-form">
                    <h2>Sign In</h2>
                    <p>Please sign in to verify identity</p>
                    @if (TempData[TempDataKeys.Error] != null)
                    {
                        <div class="alert alert-info">@TempData[TempDataKeys.Error]</div>
                    }
                    @using (Html.BeginForm("SignIn", "Auth", FormMethod.Post, new { @class = "form" }))
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @required = "required" })
                                    @Html.ValidationMessageFor(m=> m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "label" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group login-btn">
                                    <button class="btn" type="submit">Login</button>
                                    <a href="@Url.Action("SignUp")" class="btn">Register</a>
                                </div>
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox" })
                                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                                <a href="#" class="lost-pass">Lost your password?</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>